.DS_Store

/.settings/
/.classpath
/.project

/tmp/
/bin/
/build/
.gradle

/src/main/resources/static/

/website/node_modules/
/website/typings/
/website/src/*.js
/website/src/**/*.js
/website/dist/
*.js.map
