<header>
    <nav id="header">
        <div class="nav-wrapper purple  lighten-1">
            <form (submit)="onSubmit($event)" id="search-form">
                <div class="input-field">
                    <input #query (keyup)="search(query.value)" id="search" type="search" autocomplete="off" placeholder="Search songs">
                    <label for="search"><i class="material-icons">search</i></label>
                    <ul id="suggestions" class="collection dropdown-content">
                        <li *ngFor="let song of songs | async" class="collection-item suggestion">
                            <span class="title">{{ song.title }}</span>
                            <p>{{ song.artist }}</p>
                            <p>{{ song.code }}</p>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer id="footer" class="page-footer purple  lighten-1">
    <a class="grey-text text-lighten-4 center" [routerLink]="['/about']">
        About
    </a>
</footer>
