<header>
    <nav id="header">
        <div class="nav-wrapper purple lighten-1">
            <form (submit)="onSubmit($event)" id="search-form">
                <div class="input-field">
                    <input #query (keyup)="search(query.value)" id="search" type="search" autocomplete="off" placeholder="Search for a song..." [value]="lastQuery" >
                    <label for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <i *ngIf="!spinnerOn" (click)="songs = []; query.value = ''" class="material-icons big-z">close</i>
                    <div [class.active]="spinnerOn" class="preloader-wrapper small" id="spins">
                        <div class="spinner-layer">
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <ul id="suggestions" class="collection dropdown-content">
                        <a *ngFor="let song of songs" [routerLink]="['/songs', song.id]"  class="collection-item suggestion">
                            <div class="sugg-title">{{ song.title }}</div>
                            <div class="sugg-detail">{{ song.artist }}</div>
                            <div class="sugg-detail">{{ song.code }}</div>
                        </a>
                    </ul>
                </div>
            </form>
        </div>
    </nav>
</header>

<main>
    <div id="content" (click)="focus(query)" class="section no-pad-bot">
      <div class="container center-align">
          <!-- <img src="http://placehold.it/500x643" id="main-image"> -->
          <img src="../../../public/images/cruzers500.png" id="main-image">
      </div>
    </div>
</main>

<footer id="footer">
    <a class="footer-link" [routerLink]="['/about']">What is this?</a>
</footer>
