body {
    background-color: #f3e5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.xxl {
    font-size: xx-large;
}

.xl {
    font-size: x-large;
}

.l {
    font-size: x-large;
}

.b {
    font-weight: bold;
}

.mb20 {
    margin-bottom: 20px;
}

@media (max-width: 320px) {
    #brand {
        font-size: 1.8rem;
    }
}

.loading {
    text-align: center;
    margin-top: 30vh;
}

.loading-text {
    font-size: large;
    color: #ab47bc;
}

.spinner-layer {
    border-color: #ab47bc !important;
}
