<header>
    <nav>
        <div class="nav-wrapper purple lighten-1">
        <a [routerLink]="['/']" class="brand-logo right">Cruzers Forever</a>
            <ul id="nav-mobile" class="left">
                <li><a [routerLink]="['/']">Home</a></li>
                <li class="active"><a [routerLink]="['/about']">About</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div id="content" class="section no-pad-bot">
        <div class="container">
            <div class="title">About</div>
            <p>This is a useless website.</p>
            <p>It allows search through the former karaoke song book of the former Cruzers Seamans Club. It was <a href="https://www.google.com/maps/place/601+Orapax+St,+Norfolk,+VA+23507/@36.865136,-76.3120065">here</a> before Chelsea was a thing.</p>
            <p>Website by Kyle (<a href="http://kalmas.net/">kalmas.net</a>)</p>
            <p>Art by Greg (<a href="https://www.facebook.com/harringtoncomics">Harrington Comics</a>)</p>
        </div>
    </div>
</main>