<header>
    <nav>
        <div class="nav-wrapper purple lighten-1">
        <a [routerLink]="['/']" id="brand" class="brand-logo right">Cruzers Forever</a>
            <ul id="nav-mobile" class="left">
                <li>
                    <a [routerLink]="['/']">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="['/about']">
                        <i class="material-icons">info</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div id="content" class="section no-pad-bot">
        <div class="container">
            <div class="title">What is this?</div>

            <p>This is a website to help you relive the magic of Cruzers Seamans Club. Cruzers was a dive karaoke bar, it used to be <a href="https://www.google.com/maps/place/601+Orapax+St,+Norfolk,+VA+23507/@36.865136,-76.3120065">here</a>, but now it's gone. This site was originally built to ease navigation of the notoriously disorganized Cruzers songbook, now it serves no practical purpose... unless you wanted to throw a Cruzers reunion party... you should certainly do that.</p>

            <p>Song data was pulled from <a href="https://github.com/kalmas/cruzers/tree/master/songbook/scans">these scans</a>. Some of the data is still mangled from the import, but it wouldn't feel like Cruzers if it was too easy to search, you're welcome.</p>

            <p>This site is dedicated to the memory Norfolk's best bar. The building is something new now, but to some it will be Cruzers forever.</p>

            <p>Website is by Kyle (<a href="http://kalmas.net/">kalmas.net</a>). Source available at <a href="https://github.com/kalmas/cruzers">https://github.com/kalmas/cruzers</a>.</p>

            <p>Art is by Greg (<a href="https://www.facebook.com/harringtoncomics">Harrington Comics</a>).</p>
        </div>
    </div>
</main>
